<html>
<body>
    <h3>Iris Species Classification</h3>
<div>
  <form action="/predict" method="POST">
    <label for="crim">Criminal Rate</label>
    <input type="number" step="any" id="crim" name="crim">
    <br>
    <label for="zn">Residentian Land Zoned for Lots</label>
    <input type="number" step="any" id="zn" name="zn">
    <br>
    <label for="indus">Non-Retail Business</label>
    <input type="number" step="any" id="indus" name="indus">
    <br>
    <label for="riv">Residential Land Zoned for Lots</label>
    <input type="number" step="any" id="riv" name="riv">
    <br>
    <label for="nox">Nitric Oxide Concentration</label>
    <input type="number" step="any" id="nox" name="nox">
    <br>
    <label for="rm">Rooms</label>
    <input type="number" step="any" id="rm" name="rm">
    <br>
    <label for="age">House Age</label>
    <input type="number" step="any" id="age" name="age">
    <br>
    <label for="dis">Distance to Boston Employment Centres</label>
    <input type="number" step="any" id="dis" name="dis">
    <br>
    <label for="rad">Accesibility index</label>
    <input type="number" step="any" id="rad" name="rad">
    <br>
    <label for="tax">Tax</label>
    <input type="number" step="any" id="tax" name="tax">
    <br>
    <label for="ptratio">Pupil to Teacher Ratio</label>
    <input type="number" step="any" id="ptratio" name="ptratio">
    <br>
    <label for="b">African-American Ratio</label>
    <input type="number" step="any" id="b" name="b">
    <br>
    <label for="lstat">Lower Status Population</label>
    <input type="number" step="any" id="lstat" name="lstat">
    <br>
    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>